@import url(http://fonts.googleapis.com/css?family=Roboto:100);

html, body {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}

body {
  overflow-x:hidden;
  
  background:url("../images/scene.jpg") center center fixed;
  background-size:cover;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
}

nav {
  display:inline-block;
  position:relative;
  top:-80px;
  left:0px;
  margin:0;
  padding:0;
  width:105%;
  height:250px;
  
  text-align:right;
  
  background-color:rgba(255,255,255,0.4);
  
  transform:rotate(3deg);
  -webkit-transform:rotate(3deg);
}

nav ul {
  margin:0;
  margin-top:140px;
  margin-right:100px;
  padding:0;
  
  transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
}

nav ul li {
  display:inline-block;
  list-style:none;
}

nav ul li a {
  display:block;
  margin:0;
  padding:7px 20px;
  
  color:#1e1e1e;
  font-family:'roboto', sans-serif;
  font-size:1.7em;
  text-decoration:none;
  
  border-bottom:2px solid transparent;
  box-shadow:0px 2px 0px transparent
  
  transition:all .20s ease;
  -webkit-transition:all .20s ease;
  -moz-transition:all .20s ease;
  -o-transition:all .20s ease;
}

nav ul li a:hover {
  border-bottom:2px solid #333;
}

/* Form Styles */
/*! normalize.css v2.1.2 | MIT License | git.io/normalize */

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

[hidden] {
    display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
    margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
    font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */

dfn {
    font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
    background: #ff0;
    color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */

pre {
    white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9.
 */

img {
    border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */

svg:not(:root) {
    overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari 5.
 */

figure {
    margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */

button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}




/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}


/*Form Style 2 */
* {
  box-sizing: border-box;
}

form {
  width: 320px;
  margin: 20px auto;
  margin-right: 50px;
  float: right;
}
form > div {
  position: relative;
  height: 2rem;
  margin: 0 0 0.5rem 0;
}
form input {
  width: 100%;
  height: 100%;
  border: 2px solid olive;
  background: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 6px;
  outline: 0;
}
form input:valid {
  background: white;
}
form input:focus {
  border-color: #f06d06;
}
form input:focus + label {
  background: #f06d06;
  color: white;
  font-size: 70%;
  padding: 3px 6px;
  z-index: 2;
}
form input:focus + label.go-bottom {
  top: 100%;
}
form input:focus + label.go-right {
  right: 0;
  margin-right: 0;
  width: 40%;
}
form label {
  transition: 0.2s;
  position: absolute;
  color: black;
  padding: 7px 6px;
}
form label.go-bottom {
  top: 0;
  left: 0;
}
form label.go-right {
  top: 0;
  right: 100%;
  width: 100%;
  margin-right: -100%;
}

/*Custom_Button */
.bootst_button
{
white-space: normal;
width: 150px;
margin-left: 80px;
padding: 10px 19px;
font-size: 17px;
line-height: 1.471;
border-radius: 6px;

vertical-align: middle;
cursor: pointer;
-webkit-user-select: none;

z-index: -1;

color: #ffffff;
background-color: #2ebb71;

-webkit-font-smoothing: subpixel-antialiased;
-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
transition: border .25s linear, color .25s linear, background-color .25s linear;
}

.bootst_button:hover
{
-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
-webkit-font-smoothing: subpixel-antialiased;
-webkit-transition-delay: 0s, 0s, 0s;
-webkit-transition-duration: 0.25s, 0.25s, 0.25s;
-webkit-transition-property: border, color, background-color;
-webkit-transition-timing-function: linear, linear, linear;
-webkit-user-select: none;
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(46, 204, 113);
background-image: none;
background-origin: padding-box;
background-size: auto;
border-bottom-color: rgb(255, 255, 255);
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
border-bottom-style: none;

border-bottom-width: 0px;
border-top-width: 0px;
border-right-width: 0px;
border-left-width: 0px;

border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(255, 255, 255);
border-left-style: none;

border-right-color: rgb(255, 255, 255);
border-right-style: none;

border-top-color: rgb(255, 255, 255);
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-top-style: none;

box-sizing: border-box;
}

.bootst_label
{
color: #ffffff;
margin-left: 120px;
}


